
<div class="content" role="main">

    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
      <ul class="list-group">
        <question-reponse *ngFor="let q of questions" [question]="q.question" [comment]="q.comment" [choices]="q.choices" [responses]="q.reponses"> 
        </question-reponse>
      </ul>
  
    </div>
    <div *ngIf="showResults" >Show result : {{showResults}}</div>
    <div>
      <button (click)="onFinish()">Envoi</button>
    </div>
    
  </div>