<!-- Toolbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">QCM</a>
  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav">
      <li  routerLinkActive="active" class="nav-item" ><a  class="nav-link active" routerLink="auth">Authentification</a></li>
      <li routerLinkActive="active" class="nav-item" routerLinkActive="active"><a class="nav-link"  routerLink="qcm">qcm</a></li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Essai </a>
      </li>
    </ul>

  </div>
</nav>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>