<li class="list-group-item">
    <div>question : {{question}}</div>
    
    <form>
        <choix2 *ngFor="let c3 of choices; let i3 = index" [choice]="c3" [i]="i3" ></choix2>
    </form>
    <div>  {{comment}}</div>
    <div>reponses:  {{responses}}</div>
   
</li>